// Specific CSS for your home-page
.container {
  margin-top: 30px;
}

.post-container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 20px 20px;
  margin: 20px 20px;
  box-shadow: 0px 0px 86px -11px rgba(0, 0, 0, 0.23);

  a {
    text-decoration: none;
    color: $black;
  }

  h1 {
    font-size: 30px;
    margin: 0px 0px;
  }

  p {
    margin: 0px 0px;
  }

}

.post-data {
  margin: 5px 0px;

  p {
    margin: 0px 0px;
    font-size: 10px;
  }
}

.post-actions {

  ul {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 10px 0px 0px 0px;
  }

  li {
    list-style: none;
    margin-right: 10px;
  }
}

.voting {
  display: flex;
}

.post-comments {
  font-size: 12px;
}

.create-comment {
  display: none;
  form {
    display: flex;
    flex-direction: column;
  }
}
