<div>
  <%# desktop navbar %>
  <div id="nav-home">
    <ul class="nav-links">
      <li>link 1</li>
      <li>link 2</li>
      <li>link 3</li>
      <li>link 4</li>
    </ul>
  </div>

  <%# mobile navbar %>
  <div class="" id="mobile-nav-home">
    <%# open menu %>
    <div id="burger" data-pushbar-target="mypushbar1">
      <span><i class="fa-solid fa-bars"></i></span>
    </div>

    <%# pushbar slide menu %>
    <div id="mobile-menu" data-pushbar-id="mypushbar1" data-pushbar-direction="right">
      <%# close menu %>
      <div id="burger-close" data-pushbar-close>
        <span><i class="fa-solid fa-xmark"></i></span>
      </div>
      <%# menu content %>
      <ul class="mobile-nav-links">
        <li>link 1</li>
        <li>link 2</li>
        <li>link 3</li>
        <li>link 4</li>
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">
  const pushbar = new Pushbar({
        blur:false,
        overlay:true,
      });
</script>
