
// desktop navbar
.desktop-nav-home {
  background: $white;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid lighten($light-gray, 30);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px;

  .nav-start {
    display: flex;
    align-items: center;
  }

  i {
    color: $black;
    font-size: 22px;
  }

  ul {
    display: flex;
    margin: 0px;
  }

  li {
    list-style: none;
    margin: 0px 10px;
  }
}

// mobile navigation menu
#mobile-nav-home {
  display: none;

  #burger {
    // color: $green-light;
    font-size: 30px;
    position: absolute;
    top: 5px;
    right: 16px;
    z-index: 999;
  }

  #burger-close {
    // color: $green-light;
    font-size: 30px;
    position: absolute;
    top: 5px;
    right: 16px;
  }

  .mobile-nav-links {
    // font-family: $nav-font;
    list-style: none;
    margin: 0;
    position: absolute;
    top: 10vh;
    left: 0vw;
  }

  li {
    padding-left: 0px;
    text-decoration: none;
    // color: $white-reg;
    font-size: 22px;
    cursor: pointer;

    &:hover {
      // color: $green-light;
    }
  }

  li {
    margin-bottom: 4vh;
  }
}

#mobile-menu {
  // background-color: $black-dark;
}

@media only screen and (max-width: 600px) {
  .desktop-nav-home {
    display: none;
  }

  #mobile-nav-home {
    display: flex;
  }
}
