// desktop navbar
.desktop-nav-home {
  background: $white;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid lighten($light-gray, 30);

  a {
    text-decoration: none;
    color: $black;
  }
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px;

  i {
    color: $black;
    font-size: 22px;
  }

  ul {
    display: flex;
    margin: 0px;
  }

  li {
    list-style: none;
    margin: 0px 10px;
  }
}

.nav-start {
  display: flex;
  align-items: center;

  .tidder-logo {
    height: 40px;
    padding: 5px 0px;
  }

  .tidder-text {
    font-family: $logo;
    margin-left: 2px;
    font-weight: 700;
  }

  .fa-house {
    margin-left: 10px;
  }
}

// mobile navigation menu

#mobile-nav-home {
  display: none;
  background: $white;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  align-items: center;
  border-bottom: 1px solid lighten($light-gray, 30);


  #burger {
    font-size: 30px;
    margin: 0px 10px;
  }

  #burger-close {
    // color: $green-light;
    font-size: 30px;
    position: absolute;
    top: 5px;
    right: 16px;
  }

  .mobile-nav-links {
    // font-family: $nav-font;
    list-style: none;
    margin: 0;
    position: absolute;
    top: 10vh;
    left: 0vw;
  }

  li {
    padding-left: 0px;
    text-decoration: none;
    // color: $white-reg;
    font-size: 22px;
    cursor: pointer;

    &:hover {
    }
  }

  li {
    margin-bottom: 4vh;
  }
}

#mobile-nav-bar {
  display: none;
  background: $white;
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: -1px;
  align-items: center;
  border-top: 1px solid lighten($light-gray, 30);

  a {
    color: $black;
  }

  li {
    padding-left: 0px;
    text-decoration: none;
    // color: $white-reg;
    font-size: 22px;
    cursor: pointer;

    &:hover {
    }
  }

  li {
    margin-bottom: 4vh;
  }

  ul {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px 20px;
    width: 100%;
  }

  li {
    list-style: none;
    margin: 0px 10px;
  }
}

// Pushbar CSS
html.pushbar_locked {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

.pushbar_locked .pushbar_main_content.pushbar_blur {
    filter: blur(15px);
}

.pushbar_overlay {
    z-index: -999;
    position: fixed;
    width: 20vw;
    height: 100%;
    top: 0;
    right: 0;
    will-change: opacity;
    transition: opacity 1.0s ease;
    opacity: 0;
    background: #3c3442;
}

html.pushbar_locked .pushbar_overlay {
    opacity: 0.8;
    z-index: 999;
}

[data-pushbar-id] {
    z-index: 1000;
    position: fixed;
    overflow-y: auto;
    will-change: transform;
    transition: transform 0.3s ease;
    background: #fff;
}

[data-pushbar-direction="left"][data-pushbar-id], [data-pushbar-direction="right"][data-pushbar-id] {
    top: 0;
    width: 80vw;
    max-width: 100%;
    height: 100%;
}

[data-pushbar-direction="top"][data-pushbar-id], [data-pushbar-direction="bottom"][data-pushbar-id] {
    left: 0;
    width: 100%;
    min-height: 150px;
}

[data-pushbar-direction="left"][data-pushbar-id] {
    left: 0;
    transform: translateZ(0) translateX(-100%);
}

[data-pushbar-direction="right"][data-pushbar-id] {
    right: 0;
    transform: translateZ(0) translateX(100%);
}

[data-pushbar-direction="top"][data-pushbar-id] {
    top: 0;
    transform: translateZ(0) translateY(-100%);
}

[data-pushbar-direction="bottom"][data-pushbar-id] {
    bottom: 0;
    transform: translateZ(0) translateY(100%);
}

[data-pushbar-id].opened {
    display: block;
    transform: translateX(0px) translateY(0px);
}

@media only screen and (max-width: 600px) {
  .desktop-nav-home {
    display: none;
  }

  #mobile-nav-home, #mobile-nav-bar {
    display: flex;
  }

}
